<!DOCTYPE html>
<html>
  <head>
    <title>Prodigious</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('logo.png') %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= render "shared/navbar" %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
